# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Inputs/Kronecker/*.txt
./Inputs/Kronecker/*.txt
Inputs/Dataset/*.txt
./Inputs/Dataset/*.txt

Inputs/Dataset/*/*.txt
./Inputs/Dataset/*/*.txt
Inputs/Dataset/*/*.zip
./Inputs/Dataset/*/*.zip
Inputs/Dataset/*/*/*/.txt
./Inputs/Dataset/*/*/*.txt
Inputs/Dataset/*/*/*/.*
./Inputs/Dataset/*/*/*.*
Inputs/Dataset/*/*.*
./Inputs/Dataset/*/*.*
Inputs/Dataset/*/*
./Inputs/Dataset/*/*


Inputs/Kronecker/*/*.txt
./Inputs/Kronecker/*/*.txt
